{% block footer_wrapper %}
    <hr>
    <footer>
        {% block footer_content %}
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center"><a href="https://www.ilri.org/ContactUs" title="Contact us">Contact us</a> | <a href="https://www.ilri.org/CopyRight" title="Copyright and permissions">Copyright and permissions</a> | <a href="https://www.ilri.org/Search" title="Search">Search</a> | <a href="https://www.ilri.org/Newsfeeds" title="Subscribe to newsfeeds">Subscribe</a></p>
                </div>
                <div class="col-md-12">
                    <p class="text-center"><a href="https://www.ilri.org" title="ILRI homepage">&copy; International Livestock Research Institute (ILRI)</a>. ILRI is a member of the <a href="http://www.cgiar.org" title="CGIAR homepage">CGIAR Consortium</a>.</p>
                </div>
            </div>
        {% endblock footer_content %}
    </footer>
{% endblock footer_wrapper %}
